swagger: "2.0"
info:
  title: API za poštanske urede i paketomate Hrvatske pošte
  description: API omogućuje pristup informacijama o poštanskim uredima i paketomatima Hrvatske pošte. Korisnici mogu dohvatiti popis svih poštanskih brojeva ureda, detalje o pojedinom uredu prema poštanskom broju, popis svih paketomata te informacije o pojedinom paketomatu.
  version: "1.0.0"
host: posta.apprepo.eu
basePath: /api/v1
schemes:
  - https

paths:
  /uredi.json:
    get:
      summary: Popis poštanskih brojeva svih ureda u Hrvatskoj
      description: Dohvaća popis svih poštanskih brojeva u Hrvatskoj.
      produces:
        - application/json
      responses:
        200:
          description: Popis poštanskih brojeva
          schema:
            type: array
            items:
              type: string
  /ured/{id}.json:
    get:
      summary: Poštanski ured prema poštanskom broju
      description: Dohvaća detaljne informacije o određenom poštanskom uredu koristeći njegov poštanski broj.
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          minimum: 10000
          maximum: 99999
          format: int64
          description: Poštanski broj ureda koji se dohvaća.
      responses:
        200:
          description: Poštanski ured
          schema:
            $ref: '#/definitions/PostOffice'
        404:
          description: Ured nije pronađen

  /paketomati.json:
    get:
      summary: Popis paketomata u Hrvatskoj
      description: Dohvaća popis svih paketomata u Hrvatskoj.
      produces:
        - application/json
      responses:
        200:
          description: Popis paketomata
          schema:
            type: array
            items:
              type: string
  /paketomat/{id}.json:
    get:
      summary: Dohvaća određeni paketomat prema poštanskom broju
      description: Dohvaća detaljne informacije o određenom paketomatu koristeći njegov poštanski broj.
      produces:
        - application/json
      parameters:
        - name: id
          in: path
          required: true
          type: integer
          minimum: 10000
          maximum: 99999
          format: int64
          description: Poštanski broj paketomata koji se dohvaća.
      responses:
        200:
          description: Paketomat
          schema:
            $ref: '#/definitions/PackageBox'
        404:
          description: Paketomat nije pronađen

definitions:
  PostOffice:
    type: object
    properties:
      postOffice:
        type: string
        description: Naziv poštanskog ureda.
      postalCode:
        type: integer
        format: int64
        description: Poštanski broj ureda.
      logo:
        type: string
        description: Poveznica na logo poštanskog ureda.
      url:
        type: string
        description: Poveznica poštanskog ureda.
      address:
        type: object
        description: Adresa poštanskog ureda.
        properties:
          street:
            type: string
            description: Ime ulice i broj.
          town:
            type: string
            description: Mjesto gdje se nalazi poštanski ured.
          city:
            type: string
            description: Grad gdje se nalazi poštanski ured.
          county:
            type: string
            description: Županija gdje se nalazi poštanski ured.
      contact:
        type: object
        description: Kontakt informacije za poštanski ured.
        properties:
          email:
            type: string
            description: E-mail adresa poštanskog ureda.
          fax:
            type: string
            description: Fax broj poštanskog ureda.
      type:
        type: string
        description: Tip poštanskog ureda (npr. poslovnica, agencija).
      notes:
        type: string
        description: Dodatne napomene o poštanskom uredu.
      services:
        type: string
        description: Usluge koje nudi poštanski ured.
      workingTime:
        type: object
        description: Radno vrijeme poštanskog ureda.
        properties:
          monday:
            type: string
            description: Radno vrijeme ponedjeljkom.
          tuesday:
            type: string
            description: Radno vrijeme utorkom.
          wednesday:
            type: string
            description: Radno vrijeme srijedom.
          thursday:
            type: string
            description: Radno vrijeme četvrtkom.
          friday:
            type: string
            description: Radno vrijeme petkom.
          saturday:
            type: string
            description: Radno vrijeme subotom.
          sunday:
            type: string
            description: Radno vrijeme nedjeljom.
      coordinates:
        type: object
        description: Geografske koordinate poštanskog ureda.
        properties:
          latitude:
            type: number
            format: float
            description: Geografska širina poštanskog ureda.
          longitude:
            type: number
            format: float
            description: Geografska dužina poštanskog ureda.
    required:
      - id
      - name
      - address
      - city
      - postalCode

  PackageBox:
    type: object
    properties:
      number:
        type: integer
        format: int64
        description: Poštanski broj paketomata.
      name:
        type: string
        description: Naziv paketomata.
      address:
        type: object
        description: Adresa paketomata.
        properties:
          street:
            type: string
            description: Ime ulice i broj.
          town:
            type: string
            description: Mjesto gdje se nalazi paketomat.
          county:
            type: string
            description: Županija gdje se nalazi paketomat.
